/* default css style */
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* flexbox to align content in the middle of the page */
.fp-tableCell {
  position: relative;
  display: flex;
  width: 80vw;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
}

/* flexbox to align content in the middle of the page and allow more content when in mobile */
.fp-tableCell-mobile {
  position: relative;
  display: table-cell;
  width: 80vw;
  margin: 0 auto;
  padding: 0;
  margin-top: 30%;
}

/* animate typing effect used on Hero page */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }

  100% {
    border-color: white
  }
}

.animate-typing {
  display: inline-block;
  animation: typing 2s steps(20) infinite alternate, blink .7s infinite alternate;
  border-right: 2px solid white;
  white-space: nowrap;
  overflow: hidden;
}