/* default css style */
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* flexbox to align content in the middle of the page */
.fp-tableCell {
  position: relative;
  display: flex;
  width: 80vw;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
}

/* flexbox to align content in the middle of the page and allow more content when in mobile */
.fp-tableCell-mobile {
  position: relative;
  display: table-cell;
  width: 80vw;
  margin: 0 auto;
  padding: 0;
  margin-top: 30%;
}

/* Question: should I keep this? */
/* .fullpage-wrapper {
  height: 100%;
  position: relative;
  transform: translate3d(0px, 0px, 0px);
  transition: none 0s ease 0s;
  display: block;
} */
