* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
}

.fp-tableCell {
  position: relative;
  display: flex;
  width: 79.1666666667vw !important;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 144px);
}

.social-media {
  position: fixed;
  z-index: 1000;
  right: 2.5rem;
  top: 50%;
  font-weight: 300;
}

.social-media-links {
  margin-bottom: calc(1.666rem/2);
}
